:root {
    /* 侧边栏字体 */
    --ui-font: "Microsoft YaHei";
}

/* 插入图片后弹出的框 */
.context-menu,
#spell-check-panel,
#footer-word-count-info {
    background-color: var(--bg-color);
}

/* 鼠标悬停到按钮上后的悬停文本框 */
.ty-tooltip {
    background-color: var(--bg-color);
    color: var(--code-font);
}

/* 以下三段与 Unibody UI 模式的适配有关 */
.megamenu-content,
.megamenu-opened header {
    background: var(--bg-color);
}

/* mega menu sidebar*/
.megamenu-menu {
    color: var(--text-color);
    background-color: var(--bg-color);
}

#recent-file-panel tbody tr:nth-child(2n-1) {
    background-color: var(--bg-color);
}

/* typora UI 编辑页面，在宽度较小时的底栏 */
footer.ty-footer {
    border-top: 1px solid var(--bg-color);
}

/* typora 编写模式 */
#typora-source {
    font-family: var(--sourceMode-font), var(--code-font), var(--ui-font), monospace;
    line-height: 2em;
}

.sidebar-content {
    /* 侧边栏的字体修改 */
    font-family: var(--ui-font);
    color: var(--text-color);
    list-style: none;
}