@import "./code-light.css";

:root {
  --text-color: #333;
  --strong-text-color: #111;
  --title-text-color: #000;
  --link-color: #5a6b75;

  --primary-btn-text-color: black;
  --bg-color: white;

  --border-color-rgb: 0, 0, 0;

  --select-text-bg-color: rgb(218, 227, 234);
  --select-text-font-color: var(--text-color);

  --li-code-bg-color: #f0f0f0;
  --code-border-color: #e0e0e0;
}
