@charset "UTF-8";
@import "./novel-tex/light/academic/basic-light-config.css";
@import "./novel-tex/light/academic/code-light.css";

:root {
  /*
  目录树颜色
  */
  --active-file-bg-color: rgb(240, 240, 240);
  --active-file-text-color: var(--text-color);

  /*
  界面UI的字体颜色
  */
  --item-hover-bg-color: var(--active-file-bg-color);
  --item-hover-text-color: var(--active-file-text-color);

  --code-bg-color: rgb(250, 250, 250);
  --sidebar-bg-color: rgb(250, 250, 250);
}
