@charset "UTF-8";
@import "./novel-tex/light/basic-light-config.css";
@import "./novel-tex/light/code-light.css";

:root {
  /* Novel Tex Normal Light */

  --active-file-bg-color: rgb(240, 240, 240);
  --active-file-text-color: var(--text-color);
  --item-hover-bg-color: var(--active-file-bg-color);
  --item-hover-text-color: var(--active-file-text-color);

  --code-bg-color: rgb(250, 250, 250);
  --sidebar-bg-color: rgb(250, 250, 250)
}