@charset "UTF-8";
@import "./novel-tex/base-config.css";
@import "./novel-tex/light/mermaid-light.css";

/*
NovelTex 基于Typora-Latex进行修改，
Typora-Latex：https://github.com/Keldos-Li/typora-latex-theme

字体链接
思源宋体：https://github.com/adobe-fonts/source-han-serif/releases/tag/2.002R
思源黑体：https://github.com/adobe-fonts/source-han-sans/releases/tag/2.004R
JetBrainsMono：https://www.jetbrains.com/lp/mono/
*/

/*
em 单位为一个正文字符（--base-font-size）大小，
例如，如果您设置 --base-font-size 为 9.5pt，那么 1.05em = 1.05*9.5pt ≈ 10pt。下面的标题字体等设置也遵循该规则。
这样，您就可以仅通过调整基准字体大小，而动态对其他元素大小做出调整。
当然，您也可以直接设置以pt或px为单位的数值，将元素的大小固定下来，如 --quote-font-size: 10pt;
*/

:root {
  --text-color: black;
  --primary-btn-text-color: black;
  --bg-color: white;
  --border-color: black;

  --link-color: #7E8B92;
}