@charset "UTF-8";

/*
NovelTex 基于Typora-Latex进行修改，
Typora-Latex：https://github.com/Keldos-Li/typora-latex-theme
*/

:root {
  /* == 字体设置 == */
  --base-Latin-font: "Latin Modern Roman", "Latin Modern Roman 10", "Source Han Serif CN", "Source Han Serif TC", Times;
  --base-Chinese-font: "Source Han Serif CN", "Source Han Serif SC", "Source Han Serif TC";
  --base-font-size: 1.1em;
  --quote-font: "Latin Modern Roman", "Latin Modern Roman 10", Times, "Times New Roman","Source Han Serif CN", "Source Han Serif SC"; /* 引言字体 */
  /* em单位为一个正文字符（--base-font-size）大小，
  例如，如果您设置 --base-font-size 为 9.5pt，那么 1.05em = 1.05*9.5pt ≈ 10pt。下面的标题字体等设置也遵循该规则。
  这样，您就可以仅通过调整基准字体大小，而动态对其他元素大小做出调整。
  当然，您也可以直接设置以pt或px为单位的数值，将元素的大小固定下来，如 --quote-font-size: 10pt; */
  --quote-font-size: 1.05em;
  --code-font: "JetBrains Mono";                /* 代码字体（代码中的中文会调用 ui-font） */
  --ui-font: "微软雅黑";                         /* 侧边栏字体 */
  --sourceMode-font: "微软雅黑";       /* source mode 字体 */
  /* 目录字体 */
  /* 默认调用 base-font */
  --toc-font: "";
  /* 默认调用 base-font-size */
  --toc-font-size: "";
  
  --math-font-size: 1em;  /* 公式字体 */
  --table-title-font: ""; /* 表格字体（默认调用 heading-font） */
  --table-font: "";
  /* 标题字体（总设置） */
  --heading-Latin-font: var(--base-Latin-font);
  --heading-Chinese-font: var(--base-Chinese-font);
  /* == 标题字体 == */
  --h1-Chinese-font: var(--base-Chinese-font);  /* h1字体 */
  --h1-font-size: 1.9em;
  --h2-Chinese-font: var(--base-Chinese-font); /* h2字体 */
  --h2-font-size: 1.5em;
  --h3-Chinese-font: var(--base-Chinese-font); /* h3字体 */
  --h3-font-size: 1.25em;
  --h4-Chinese-font: var(--base-Chinese-font); /* h4字体 */
  --h4-font-size: 1.15em;
  --h5-Chinese-font: var(--base-Chinese-font); /* h5字体 */
  --h5-font-size: 1.10em;
  --h6-Chinese-font: var(--base-Chinese-font); /* h6字体 */
  --h6-font-size: 1.05em;
  /* 粗体样式设置 */
  /* 加粗风格时使用的字重；400等同于 normal，700等同于 bold，900等同于 heavy */
  --strong-weight: 900;
  --base-line-height: 1.618em;  /* 基础行距 */
  /* == 页面设置 == */
  --set-margin: 1.8cm 2cm 1.2cm 2cm !important; /* 打印页边距 */
  /* == 控制设置 == */
  --toc-show-title: none; /* 目录中是否显示一级标题 */
  /* == 颜色设置 == */
  --link-color-light: #2E67D3;  /* 超链接颜色 */
  --link-color-dark: #8bb1f9;

  /* == mermaid 设置 == */
  --mermaid-theme: neutral;           /*or base, dark, forest, neutral, night */
  --mermaid-font-family: var(--base-Chinese-font);
  --mermaid-sequence-numbers: off;    /* or "on", see https://mermaid-js.github.io/mermaid/#/sequenceDiagram?id=sequencenumbers*/
  --mermaid-flowchart-curve: linear   /* or "basis", see https://github.com/typora/typora-issues/issues/1632*/;
  --mermaid--gantt-left-padding: 75;  /* see https://github.com/typora/typora-issues/issues/1665*/
}

body {
  padding: 0 !important;
  margin: 0 !important;
}


#write {
  font-family: var(--base-Latin-font), var(--base-Chinese-font), serif;
  font-size: var(--base-font-size);
  max-width: 26cm;  /* A4标准宽度 */
  background-color: white;
}

#write .md-math-block,
#write .md-rawblock,
#write p {
  margin-top: 1em;
  margin-bottom: 1em;
}
#write p {
  text-align: left;
  line-height: var(--base-line-height);
}
#write a {
  color: var(--link-color-light);
}

hr {
  border-top: solid 1px #ddd;
  margin-top: 1.8em;
  margin-bottom: 1.8em;
}

img {
  /* 避免图片在导出时被断开 */
  page-break-inside: avoid;
}

strong {
  font-weight: var(--strong-weight);
}

@media screen {
  #write {
    padding: var(--set-margin);
    border: 1px solid rgb(0, 0, 0);
  }
}
.MathJax {
  font-size: var(--math-font-size);
}

/* typora 编写模式 */
#typora-source {
  font-family: var(--sourceMode-font), var(--code-font), var(--ui-font), monospace;
  line-height: 2em;
}

.sidebar-content {
  /* 侧边栏的字体修改 */
  font-family: var(--ui-font);
  list-style: none;
}

/* 元数据（如 YAML front matter）的背景框 */
pre.md-meta-block {
  background: #cccccc;
  padding: 1.4em;
  font-family: var(--code-font), var(--ui-font), monospace;
  font-size: 0.8em;
}

#write {
  counter-reset: h2 0 h3 0 h4 0 h5 0 h6 0;
}
#write h1,
#write h2,
#write h3,
#write h4,
#write h5,
#write h6 {
  font-weight: bold;
  page-break-after: avoid !important;
}
#write h1 {
  font-family: var(--heading-Latin-font), var(--h1-Chinese-font), serif;
  text-align: center;
  column-span: all;
  font-size: var(--h1-font-size);
}
#write h2 {
  font-family: var(--heading-Latin-font), var(--h2-Chinese-font), serif;
  font-size: var(--h2-font-size);
}
#write h3 {
  font-family: var(--heading-Latin-font), var(--h3-Chinese-font), serif;
  font-size: var(--h3-font-size);
  line-height: var(--h3-font-size);
}
#write h4 {
  font-family: var(--heading-Latin-font), var(--h4-Chinese-font), serif;
  font-size: var(--h4-font-size);
  line-height: var(--h4-font-size);
}
#write h5 {
  font-family: var(--heading-Latin-font), var(--h5-Chinese-font), serif;
  font-size: var(--h5-font-size);
  line-height: var(--h5-font-size);
}
#write h6 {
  font-family: var(--heading-Latin-font), var(--h6-Chinese-font), serif;
  font-size: var(--h6-font-size);
  /* 没有写错，为了避免行距太小才这么写 */
  line-height: var(--h5-font-size);
}

/* 参考文献（脚注）块 */
.footnotes {
  font-size: 0.95em;
}

.footnotes-area .footnote-line {
  color: var(--text-color);
}
.footnotes-area hr {
  border: 0;
  color: #00000000;
}

/* 无序列表 */
ul {
  list-style: disc;
}
ul ul {
  /*list-style: circle;*/
  /* 请勿删除“–”后的空格, 他们对缩进有一定影响, 下同 */
  list-style: "–   ";
}
ul ul ul {
  list-style: "◦  ";
}

/* 有序列表 */
ol {
  list-style: decimal;
}
ol ol {
  counter-reset: liist;
  list-style: none;
}
ol ol li {
  counter-increment: liist;
  position: relative;
}
ol ol li::before {
  content: "(" counter(liist,lower-alpha) ")";
  position: absolute;
  left: -1.8em;
}
ol ol ol {
  counter-reset: liiist;
  list-style: none;
  margin: 0;
}
ol ol ol li {
  counter-increment: liiist;
  position: relative;
}
ol ol ol li::before {
  content: counter(liiist,lower-roman) ".";
  align-self: flex-end;
  position: absolute;
  left: -4.5em;
  /* -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;*/
  /* 为了让项目编号是重新用句点对齐而不是左对齐 */
  width: 4em;
  text-align: right;
}

li {
  position: relative;
}

ol, ul {
  padding-inline-start: 2em;
}

/* task列表 */
.md-task-list-item > input {
  margin-top: 0.42em;
  margin-left: -1.5em;
  width: 1em !important;
  height: 1em !important;
}

#write table {
  /* 三线表第一条线宽度 */
  border-top: 1.2pt solid;
  /* 三线表第二条线宽度 */
  border-bottom: 1.2pt solid;
  font-family: var(--table-font), var(--base-Latin-font), var(--base-Chinese-font), serif;
  /* font-size: var(--base-font-size); */
  text-align: center;
  page-break-inside: avoid;
  border-spacing: 6px;
  /* 自动布局表格宽度，如果有时内容太紧建议直接加空格吧，我自己看不惯和页面等宽的大表格 */
  width: auto;
  /* 使表格默认居中；虽然这个代码不好，但好像没别的实现办法 */
  margin: 0 auto;
}
#write table td {
  padding: 2px;
}
#write table tr {
  padding: 2px;
}
#write th {
  padding: 0px 6px;
}
#write thead {
  /* 表格标题（首行）样式 */
  /* 三线表表头的线 */
  border-bottom: 0.5pt solid;
  font-family: var(--table-title-font), var(--heading-Latin-font), var(--heading-Chinese-font), serif !important;
  /* font-size: var(--base-font-size); */
  font-weight: var(--strong-weight);
}

/* 一个>的引言仅为两字符缩进，使用>>的引言为传统引言样式，具有左竖线、左缩进 */
blockquote {
  font-style: normal;
  font-family: var(--quote-font), var(--base-Latin-font), var(--base-Chinese-font), -apple-system, serif;
  font-size: var(--quote-font-size);
  /* 文字离左边框的距离 */
  padding-left: 2em;
  padding-right: 2em;
  /* 左边框离页面边的距离 */
  margin-left: 0;
}

blockquote p:first-child {
  padding-top: 1ch;
}

blockquote p:last-child {
  padding-bottom: 1ch;
}

blockquote blockquote {
  border-left: 4px solid #b3b3b3;
  padding-left: calc(2ch - 4px);
  padding-right: 0;
  margin-left: -4px;
  border-radius: 0;
}

/* 行内代码 */
code {
  font-family: var(--code-font), var(--ui-font), monospace;
}

h1 code, h2 code, h3 code, h4 code, h5 code, h6 code,
p code,
li code {
  color: #3c70c6;
  background-color: #fefefe;
  /* 阴影 */
  box-shadow: 0 0 1px 1px #c8d3df;
  font-family: var(--code-font), var(--ui-font), monospace;
  box-sizing: border-box;
  border-right: 0px;
  margin: 0 2px 0 2px;
  padding: 0 2px 0 2px;
  /* 圆角 */
  border-radius: 2px 2px 2px 2px;
}

/* 代码块 */
.md-fences {
  border: 1px solid #727272; /* 代码块的边框样式 */
  padding: 10px;                /* 代码与边框的距离 */
  /* border-radius: 5px;      /* 边框圆角 */
}
.md-fences,
.CodeMirror pre {
  font-size: 1em;
}

.CodeMirror-wrap {
  /* padding: 10px; */
  font-size: 1em;
}

.CodeMirror-code pre {
  font-family: var(--code-font), var(--ui-font), monospace;
}

/* 目录 */
.md-toc {
  font-size: var(--toc-font-size);
  border: 1px solid #ccc; /* 整个代码块的边框样式 */
  /* border-radius: 5px; 可选：添加圆角 */
}

.md-toc-content {
  margin-left: 2em;
  counter-reset: toc-h2 toc-h3 toc-h4;
  page-break-after: always;
}

.md-toc-inner {
  /* margin-left: 0 !important; */
  color: var(--text-color) !important;
}

.md-toc-item {
  color: var(--text-color) !important;
}

.md-toc-h2,
.md-toc-h3,
.md-toc-h4,
.md-toc-h5,
.md-toc-h6 {
  font-size: var(--toc-font-size);
  font-family: var(--toc-font), var(--base-Latin-font), var(--base-Chinese-font), serif;
}