@charset "UTF-8";
@import "./novel-tex/light/basic-light-config.css";
@import "./novel-tex/light/code-light.css";

:root {
  /* Novel Tex Full Light */
  --active-file-bg-color: rgb(192, 192, 192);
  --active-file-text-color: var(--text-color);
  --item-hover-bg-color: var(--active-file-bg-color);
  --item-hover-text-color: var(--active-file-text-color);
}