@charset "UTF-8";
@import "./novel-tex/basic/include.css";
@import "./novel-tex/light/basic-light-config.css";

:root {
  /*
  目录树颜色
  */
  --active-file-bg-color: rgb(192, 192, 192);
  --active-file-text-color: var(--text-color);

  /*
  界面UI的字体颜色
  */
  --item-hover-bg-color: var(--active-file-bg-color);
  --item-hover-text-color: var(--active-file-text-color);
}
