@charset "UTF-8";
@import "./novel-tex-n-l.css";

:root {
  /* Novel Tex Normal Light */
  --primary-btn-text-color: black;
  --bg-color: white;
  --border-color: black;

  --active-file-bg-color: rgb(240, 240, 240);
  --active-file-text-color: var(--text-color);
  --item-hover-bg-color: var(--active-file-bg-color);
  --item-hover-text-color: var(--active-file-text-color);

  --link-color: #7E8B92;
  --code-bg-color: rgb(250, 250, 250);
  --li-code-bg-color: rgb(238, 238, 238);
  --sidebar-bg-color: rgb(250, 250, 250);

  /* Novel Pure Normal Light */
  --body-border-color: var(--bg-color)
}