@charset "UTF-8";
@import "./novel-tex/basic/base-config.css";
@import "./novel-tex/dark/code-dark.css";

:root {
  --bg-color: rgb(43, 43, 43);
  --sidebar-bg-color: rgb(51, 51, 51);

  --text-color: rgb(180, 180, 180);
  --strong-text-color: rgb(230, 230, 230);
  --title-text-color: rgb(240, 240, 240);

  --li-code-bg-color: rgb(73, 73, 73);
  --code-bg-color: rgb(90, 90, 90);

  --link-color: grey;
}