@import "./md-toc.css";
@import "./table.css";
@import "./ui.css";
@import "./basic-mermaid.css";

:root {
    /* == 字体设置 == */
    --base-Latin-font: "Arial";
    --base-Chinese-font: "Source Han Serif SC";
    --base-font-size: 1.15em;

    /* 引言设置 */
    --quote-font: "Source Han Serif SC";
    --quote-font-size: 0.95em;

    /* 源代码模式设置 */
    --sourceMode-font: var(--base-Latin-font), var(--base-Chinese-font);

    /* 目录字体（默认调用 base-font） */
    --toc-font: "";
    /* 默认调用 base-font-size */
    --toc-font-size: var(--base-font-size);

    /* 公式字体 */
    --math-font-size: 1em;

    /* 表格字体（默认调用 heading-font） */
    --table-title-font: "";
    --table-font: "";

    /* 标题字体（总设置）*/
    --heading-Latin-font: var(--base-Latin-font);
    --heading-Chinese-font: var(--base-Chinese-font);
    --h1-Chinese-font: var(--base-Chinese-font);
    --h1-font-size: 1.9em;
    --h2-Chinese-font: var(--base-Chinese-font);
    --h2-font-size: 1.5em;
    --h3-Chinese-font: var(--base-Chinese-font);
    --h3-font-size: 1.25em;
    --h4-Chinese-font: var(--base-Chinese-font);
    --h4-font-size: 1.15em;
    --h5-Chinese-font: var(--base-Chinese-font);
    --h5-font-size: 1.10em;
    --h6-Chinese-font: var(--base-Chinese-font);
    --h6-font-size: 1.10em;

    /* 粗体样式设置（normal: 400，bold: 700，heavy: 900） */
    --strong-weight: 900;
    /* 基础行距 */
    --base-line-height: 1.618em;
    /* 打印页边距 */
    --set-margin: 1.8cm 2cm 1.8cm 2cm !important;
    /* 目录中是否显示一级标题 */
    --toc-show-title: none;
    /*普通文本颜色*/
    --text-color: rgb(180, 180, 180);
    --title-text-color: rgb(240, 240, 240);
    --strong-text-color: var(--text-color);

    /*目录文本颜色*/
    --toc-font-color: var(--text-color);
    /*代码字体颜色*/
    --code-font-color: var(--text-color);

    /* 超链接颜色 */
    --link-color: #7E8B92;

    /*改变元字符的颜色，例如 markdown 中的“*”*/
    --md-char-color: #C7C5C5;
    /*改变元内容的颜色，例如 markdown 中的图像文本和链接地址*/
    --meta-content-color: #5b808d;
}

body {
    padding: 0 !important;
    margin: 0 !important;
}

img {
    page-break-inside: avoid;
    /* 避免图片在导出时被断开 */
}

strong {
    font-weight: var(--strong-weight);
    color: var(--strong-text-color);
}

@media screen {
    #write {
        padding: var(--set-margin);
        border: 1px solid var(--body-border-color);
    }
}

pre.md-meta-block {
    /* 元数据（如 YAML front matter）的背景框 */
    background: var(--bg-color);
    padding: 1.4em;
    font-family: var(--code-font), var(--ui-font), monospace;
    font-size: 0.8em;
}

#write {
    counter-reset: h2 0 h3 0 h4 0 h5 0 h6 0;
}

#write {
    font-family: var(--base-Latin-font), var(--base-Chinese-font), serif;
    font-size: var(--base-font-size);
    max-width: 26cm;
    background-color: var(--bg-color);
}

#write .md-math-block,
#write .md-rawblock,
#write p {
    text-align: justify;
    line-height: var(--base-line-height);
    margin-top: 1em;
    margin-bottom: 1em;
    color: var(--text-color);
}

#write a {
    color: var(--link-color);
}


#write h1,
#write h2,
#write h3,
#write h4,
#write h5,
#write h6 {
    font-weight: bold;
    page-break-after: avoid !important;
    color: var(--title-text-color);
}

#write h1 {
    font-family: var(--heading-Latin-font), var(--h1-Chinese-font), serif;
    text-align: center;
    column-span: all;
    font-size: var(--h1-font-size);
}

#write h2 {
    font-family: var(--heading-Latin-font), var(--h2-Chinese-font), serif;
    font-size: var(--h2-font-size);
}

#write h3 {
    font-family: var(--heading-Latin-font), var(--h3-Chinese-font), serif;
    font-size: var(--h3-font-size);
    line-height: var(--h3-font-size);
}

#write h4 {
    font-family: var(--heading-Latin-font), var(--h4-Chinese-font), serif;
    font-size: var(--h4-font-size);
    line-height: var(--h4-font-size);
}

#write h5 {
    font-family: var(--heading-Latin-font), var(--h5-Chinese-font), serif;
    font-size: var(--h5-font-size);
    line-height: var(--h5-font-size);
}

#write h6 {
    font-family: var(--heading-Latin-font), var(--h6-Chinese-font), serif;
    font-size: var(--h6-font-size);
    line-height: var(--h5-font-size);
    /* 没有写错，为了避免行距太小才这么写 */
}


.footnotes {
    /* 参考文献（脚注）块 */
    font-size: 0.95em;
}

.footnotes-area .footnote-line {
    color: var(--text-color);
}

.footnotes-area hr {
    border: 0;
    color: var(--text-color);
}

/* == 引言 == */

/* 一个>的引言仅为两字符缩进，使用>>的引言为传统引言样式，具有左竖线、左缩进 */
blockquote {
    font-style: normal;
    font-family: var(--quote-font), var(--base-Latin-font), var(--base-Chinese-font), -apple-system, serif;
    font-size: var(--quote-font-size);
    /* border-left: 1px solid black; */
    padding-left: 2em;
    /* 文字离左边框的距离 */
    padding-right: 2em;
    /* 左边框离页面边的距离 */
    margin-left: 0;
}

/* blockquote p:first-child {
    padding-top: 1ch;
  }

  blockquote p:last-child {
    padding-bottom: 1ch;
  } */

/* blockquote blockquote {
    border-left: 4px solid #b3b3b3;
    padding-left: calc(2ch - 4px);
    padding-right: 0;
    margin-left: -4px;
    border-radius: 0;
  } */


hr {
    border-top: solid 1px var(--text-color);
    margin-top: 1.8em;
    margin-bottom: 1.8em;
}