:root {
    --code-font: "Consolas", var(--base-Chinese-font);
    --code-font-size: 0.95em;
    --li-code-bg-color: var(--bg-color);
    --li-code-radius: 0.3em;
    --li-code-padding: 0.2em;
    --code-inline-font-size: 0.95em;
    --code-bg-color: var(--bg-color);
    --code-border-color: rgba(var(--border-color-rgb), 0.5);
}

.md-fences {
    font-size: var(--code-font-size);
    border: 1px solid var(--code-border-color);
    padding: 10px;
    border-radius: 0px;
}

.md-fences,
.CodeMirror pre {
    font-size: var(--code-font-size);
    background: var(--code-bg-color);
}

code {
    font-family: var(--code-font), var(--ui-font), monospace;
    font-size: var(--base-font-size);
}

h1 code,
h2 code,
h3 code,
h4 code,
h5 code,
h6 code,
p code,
li code {
    color: var(--code-font-color);
    background-color: var(--li-code-bg-color);
    box-shadow: 0 0 1px 1px var(--bg-color-shader);
    font-family: var(--code-font);
    font-size: var(--code-inline-font-size);
    box-sizing: border-box;
    margin: 0 0 0 0;
    padding: var(--li-code-padding);
    border-radius: var(--li-code-radius);
}


/* .CodeMirror-wrap {
    padding: 10px;
    font-size: var(--code-font-size);
  } */

.CodeMirror-code pre {
    font-family: var(--code-font), var(--ui-font), monospace;
}

/* 改变光标的颜色，在黑暗背景下能显示*/
.CodeMirror div.CodeMirror-cursor {
    border-left: 1px solid var(--text-color);
    z-index: 3;
}

.cm-s-inner .CodeMirror-guttermarker,
.cm-s-inner .CodeMirror-guttermarker-subtle,
.cm-s-inner .CodeMirror-linenumber {
    color: var(--code-linenumber-color);
}

.cm-s-inner .CodeMirror-cursor {
    border-left: 1px solid #f8f8f0;
}

.cm-s-inner div.CodeMirror-selected {
    background: var(--select-text-bg-color);
}

.cm-s-inner.CodeMirror-focused div.CodeMirror-selected {
    background: rgb(255, 255, 255);
}

/* 关键字 */
.cm-s-inner .cm-keyword {
    color: var(--code-keyword);
}

/* 操作符 */
.cm-s-inner .cm-operator {
    color: var(--code-operator);
}

.cm-s-inner .cm-variable {
    color: var(--code-variable);
}

.cm-s-inner .cm-variable-2 {
    color: var(--code-variable-2);
}

.cm-s-inner .cm-variable-3 {
    color: var(--code-variable-3);
}

.cm-s-inner .cm-builtin {
    color: var(--code-builtin);
}

.cm-s-inner .cm-atom {
    color: var(--code-atom);
}

.cm-s-inner .cm-number {
    color: var(--code-atom);
}

.cm-s-inner .cm-def {
    color: var(--code-def);
}

.cm-s-inner .cm-string {
    color: var(--code-string);
}

.cm-s-inner .cm-string-2 {
    color: var(--code-string-2);
}

.cm-s-inner .cm-comment {
    color: var(--code-comment);
}


.cm-s-inner .cm-tag {
    color: var(--code-tag);
}

.cm-s-inner .cm-meta {
    color: var(--code-meta);
}

.cm-s-inner .cm-attribute {
    color: var(--code-attribute);
}

.cm-s-inner .cm-property {
    color: var(--code-property);
}

.cm-s-inner .cm-qualifier {
    color: var(--code-qualifier);
}

.cm-s-inner .cm-error {
    color: var(--code-error);
    background-color: var(--code-error-bg);
}