/* 一个>的引言仅为两字符缩进，使用>>的引言为传统引言样式，具有左竖线、左缩进 */
blockquote {
  font-style: normal;
  font-family: var(--quote-font), var(--base-Latin-font),
    var(--base-Chinese-font), -apple-system, serif;
  font-size: var(--quote-font-size);
  padding-left: 2em;
  padding-right: 2em;
  margin-left: 0;
  margin-top: 1em;
  margin-bottom: 1em;
  color: var(--text-color);
}

blockquote p:first-child {
  padding-top: 0.5ch;
}

blockquote p:last-child {
  padding-bottom: 0.5ch;
}

blockquote blockquote {
  border-left: 4px solid #b3b3b3;
  padding-left: calc(2ch - 4px);
  padding-right: 0;
  margin-left: -4px;
  border-radius: 0;
}
