/* task列表 */
.md-task-list-item>input {
    margin-top: 0.42em;
    margin-left: -1.5em;
    width: 1em !important;
    height: 1em !important;
}

#write table {
    /* 三线表第一条线宽度 */
    border-top: 1.2pt solid;
    /* 三线表第二条线宽度 */
    border-bottom: 1.2pt solid;
    font-family: var(--table-font), var(--base-Latin-font), var(--base-Chinese-font), serif;
    /* font-size: var(--base-font-size); */
    /* text-align: center; */
    text-align: left;
    page-break-inside: avoid;
    border-spacing: 6px;
    /* 自动布局表格宽度，如果有时内容太紧建议直接加空格吧，我自己看不惯和页面等宽的大表格 */
    /* width: auto; */
    /* 使表格默认居中；虽然这个代码不好，但好像没别的实现办法 */
    margin: 0 auto;
}

#write table td {
    padding: 2px;
}

#write table tr {
    padding: 2px;
}

#write th {
    padding: 0px 6px;
}

#write thead {
    /* 表格标题（首行）样式 */
    /* 三线表表头的线 */
    border-bottom: 0.5pt solid;
    font-family: var(--table-title-font), var(--heading-Latin-font), var(--heading-Chinese-font), serif !important;
    /* font-size: var(--base-font-size); */
    font-weight: var(--strong-weight);
}



/* 无序列表 */
ul {
    list-style: disc;
}

ul ul {
    /*list-style: circle;*/
    /* 请勿删除“–”后的空格, 他们对缩进有一定影响, 下同 */
    list-style: "–   ";
}

ul ul ul {
    list-style: "◦  ";
}

/* 有序列表 */
ol {
    list-style: decimal;
}

ol ol {
    counter-reset: liist;
    list-style: none;
}

ol ol li {
    counter-increment: liist;
    position: relative;
}

ol ol li::before {
    content: "(" counter(liist, lower-alpha) ")";
    position: absolute;
    left: -1.8em;
}

ol ol ol {
    counter-reset: liiist;
    list-style: none;
    margin: 0;
}

ol ol ol li {
    counter-increment: liiist;
    position: relative;
}

ol ol ol li::before {
    content: counter(liiist, lower-roman) ".";
    align-self: flex-end;
    position: absolute;
    left: -4.5em;
    /* -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;*/
    /* 为了让项目编号是重新用句点对齐而不是左对齐 */
    width: 4em;
    text-align: right;
}

li {
    position: relative;
}

ol,
ul {
    padding-inline-start: 2em;
}