#write table {
  /* 三线表第一条线宽度 */
  border-top: 2px solid var(--text-color);
  /* 三线表第二条线宽度 */
  border-bottom: 2px solid var(--text-color);
  font-family: var(--table-font), var(--base-Latin-font),
    var(--base-Chinese-font), serif;
  font-size: 0.95em;
  text-align: left;
  page-break-inside: avoid;
  border-spacing: 0;
  border-collapse: collapse;
  margin: 1em auto;
  width: 100%;
  /* 表格内数字强制等宽，保证纵向对齐 */
  font-variant-numeric: tabular-nums;
}

#write table td {
  padding: 6px 10px;
  border: none;
}

#write table tr {
  padding: 0;
}

#write th {
  padding: 8px 10px;
  border: none;
}

#write thead {
  /* 表格标题（首行）样式 */
  border-bottom: 1.5px solid var(--text-color);
  font-family: var(--table-title-font), var(--heading-font), serif !important;
  font-weight: 700;
}