:root {
    --toc-font: var(--base-Latin-font), var(--base-Chinese-font);
    --toc-font-size: 1em;
}

.md-toc {
    font-size: var(--toc-font-size);
    /* 整个代码块的边框样式*/
    border-bottom: 1px solid var(--text-color);
    /*  可选：添加圆角 */
    border-radius: 0px;
}

.md-toc-content {
    margin-left: 2em;
    counter-reset: toc-h2 toc-h3 toc-h4;
    page-break-after: always;
}

.md-toc-inner {
    margin-left: 0 !important;
    color: var(--text-color) !important;
}

.md-toc-item {
    color: var(--text-color) !important;
}


.md-toc-h2 {
    font-size: var(--toc-font-size);
    font-family: var(--toc-font), var(--base-Latin-font), var(--base-Chinese-font), serif;
    font-weight: var(--strong-weight);
}

.md-toc-h3,
.md-toc-h4,
.md-toc-h5,
.md-toc-h6 {
    font-size: var(--toc-font-size);
    font-family: var(--toc-font), var(--base-Latin-font), var(--base-Chinese-font), serif;
}


/* 目录标题前 */
.md-toc-content {

    /* 默认隐藏了 h4-h6 的标题显式，需要显式就将display: none取消 */
    .md-toc-h1 {
        content: "";
        counter-reset: toc-h1;
    }

    .md-toc-h2 {
        counter-reset: toc-h3;
    }

    .md-toc-h3 {
        counter-reset: toc-h4;
    }

    .md-toc-h4 {
        display: none;
        counter-reset: toc-h5;
    }

    .md-toc-h5 {
        display: none;
        counter-reset: toc-h6;
    }

    .md-toc-h6 {
        display: none;
        counter-reset: toc-h6;
    }

    .md-toc-h2:before {
        counter-increment: toc-h2;
        content: "";
        margin-right: 2em;
        font-weight: var(--strong-weight);
    }

    .md-toc-h3:before {
        counter-increment: toc-h3;
        content: "";
        margin-left: 4em;
        margin-right: 0.5em;
    }

    .md-toc-h4:before {
        counter-increment: toc-h4;
        content: "";
        margin-left: 6em;
        margin-right: 0.5em;
    }

    .md-toc-h5:before {
        counter-increment: toc-h5;
        content: "";
        margin-left: 8em;
        margin-right: 0.5em;
    }

    .md-toc-h6:before {
        counter-increment: toc-h6;
        content: "";
        margin-left: 10em;
        margin-right: 0.5em;
    }
}